.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/*typography*/
h1 { 
  font-size: 1em;
}

p {
  font-size: 1.2rem;
}

span {
  font-size: .987rem;
}

.container {
  padding: 0 1rem;
}


.container .filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container .filters div{
  padding: .2rem;
}

.container .filters div select{
  width: 6rem;
}

.container .filters div span{
  padding-right: 1rem;
}

.App footer{
  display: flex;
  z-index: 10;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  color:white;
  text-align: center;
}

.App footer div{
  font-size: 0.7rem;
  padding: 0 2rem 0 2rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
