<form action="addpost" method="post">
    <div>
        <label>Title:</label>
        <input type="text" name="title" />
        <label>Content:</label>
        <textarea name="content" rows="10" cols="10" name="content"></textarea>
        <button type="submit" name="buttonsubmit">Add post</button>
    </div>
</form>