<form action="">
    <div>
        <label>Title:</label>
        <input type="text" name="title" />
        <label>Content:</label>
        <textarea name="content" rows="10" cols="10"></textarea>
        <button type="submit">Add post</button>
    </div>
</form>