
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 1rem;
}

.card:focus,
.card:hover{
    border: 1px solid #000;
}

.card .content {
    flex: 1 1 auto;
    position: relative;
}

.card .content .question {
    background-color: aqua;
    margin: 0;
}

.card .content .question p {
    margin: 0;
    padding: 1rem;
}

.card .content .question .question-mark {
    font-size: 2rem;
    background-color: #fff;
    transform: translateX(-50%);
    position: absolute;
    top: 3rem;
}

.card .content .options {
    padding: .7rem;
    display: flex;
    justify-content: space-around;
}

.card .content .options .social {
    display: flex;
    justify-content: space-between;
}

